.shadoww{
    border-radius: 10px;
    margin-left: 280px;
    margin-top: 90px;
    width: 900px;height: 500px;
    float: left;
    box-shadow: 5px 5px 30px #ff0000 ;
    background-color: rgb(0, 0, 0);
}
.Tabell{
    background-size: cover;
    margin-left: 30px;
    float: left;
    width: 245px;height: 500px;
    background-image: url(./image/dragone.png);
    border-radius: 100px;
}
.img-instgram{
    width: 30px;height: 30px; float: left; margin-left: 48px;
}
.img-telgrame{
    width: 30px;height: 30px; float: left; margin-left: 5px6;
}
.text-aline-RGB{
    color: rgb(255, 255, 255);
    float: right;
    font-size: 23px;
    margin-top: 15px;
    margin-right: 30px;
    font-family: hosen-fon;
}
.text-alin{
    color: rgb(185, 0, 0);
    float: right;
    font-size: 23px;
    margin-top: 15px;
    margin-right: 30px;
    text-shadow: 3px 3px 10px red;
    font-family: hosen-fon;
}
.text{
    color: rgb(255, 255, 255);
    float: right;
    font-size: 23px;
    margin-top: 15px;
    margin-right: 30px;
    font-family: hosen-fon;
}
.my-name{
    color: rgb(165, 0, 0);
    font-size: 50px;
    height: 90px;
    font-family: pota;
}
.font{
    color: rgb(255, 255, 255);
    font-size: 50px;
    height: 70px;
    font-family: hosen-fon;
}
.font-tabel{
    color: white;
    font-size: 20px;
    font-family: hosen-fon;
}
.div-informeshen{
    float: left;
     width: 550px; height: 200px;
     margin-left: 50px;
    margin-top: 100px;
}

















/*moile*/
@media only screen and (max-width: 375px){
    .shadoww{
        width: 300px;
        height: 600px;
        margin-left: 25px;
        margin-top: 20px;  
    }
    .Tabell{
        background-size: cover;
        width: 50px;
        height: 50px;
    }
}
@media only screen and (max-width: 391px){
    .shadoww{
        width: 300px;
        height: 710px;
        margin-left: 15px;
        margin-top: 50px; 
    }
    .Tabell{
        background-size: cover;
        width: 200px;
        height: 180px;
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: 40px;
        border-radius: 100px;
        box-shadow: 1px 1px 20px rgb(255, 0, 0);
    }
    .div-informeshen{
        width: 260px;
        height: 160px;
        margin-top: 70px;
        margin-left:40px ;
    }
    .my-name{
        height: 40px;
        font-size: 30px;
    }
    .font{
        font-size: 30px;
        height: 40px;
        margin-top: 20px;
    }
    .font-tabel{
        font-size: 17px;
        height: 40px;
    }
    .text{
        font-size: 16px;
    }
    .text{
        font-size: 16px;
    }
    .text-aline-RGB{
        font-size: 16px;
    }
    .text-alin{
        font-size: 16px;
        
    }
    .img-instgram{
        margin-left: 40px;
    }
    .img-telgrame{
        margin-left: 10px;
    }
}
@media only screen and (max-width: 431px){
    .shadoww{
        width: 350px;
        height: 810px;
        margin-left: 33px;
        margin-top: 50px; 
    }
    .Tabell{
        background-size: cover;
        width: 250px;
        height: 180px;
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: 40px;
        border-radius: 100px;
        box-shadow: 1px 1px 20px rgb(255, 0, 0);
    }
    .div-informeshen{
        width: 300px;
        height: 160px;
        margin-top: 70px;
        margin-left:40px ;
    }
    .my-name{
        height: 60px;
        font-size: 35px;
    }
    .font{
        font-size: 35px;
        height: 40px;
        margin-top: 20px;
    }
    .font-tabel{
        font-size: 17px;
        height: 40px;
    }
    .text{
        font-size: 20px;
    }
    .text{
        font-size: 20px;
    }
    .text-aline-RGB{
        font-size: 20px;
    }
    .text-alin{
        font-size: 20px;
        
    }
    .img-instgram{
        margin-left: 40px;
    }
    .img-telgrame{
        margin-left: 10px;
    }
}


    
