/*بخش منو های صفحه منو*/
@font-face {
    font-family:nahid;
    src:url(./Font/nahid/Nahid.woff) format('woff')
    }
    @font-face {
        font-family: taha;
        src: url(./Font/taha-font/Tanha.woff) format('woff')
    }
    @font-face {
        font-family: hosen;
        src: url(./Font/hosen-font/Gandom.woff) format('woff')
    }
    @font-face {
        font-family: hosen-fon;
        src: url(./Font/hosen/Glowbloomdemo-ZpG7q.ttf) format('woff')
    }
    @font-face {
        font-family: vazir;
        src: url(./Font/vazir-font/Vazir-Bold.woff) format('woff');
    }

    @font-face {
        font-family: pota;
        src: url(./Font/pota/Royal-BF6543ae6d80cec.otf) format('woff')
    }


    .red{
        background-image: url(./image/red.jpg);
        background-size: auto;
        text-decoration: none;
        font-family: hosen;
        padding: 0;
        margin: 0;
        padding-left: 0xp;
        
    }

    @media only screen and (min-width: 1025px){
        .red{
            background-size: cover;
        }
    }
    @media only screen and (max-width: 600px){
        .red{
            background-image: url(./image/samurai_674678_03.jpg);
            background-size: cover;
        }
    }
